/* eslint-disable @typescript-eslint/ban-ts-comment */
/* stylelint-disable unknownAtRules */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, sans-serif;
}
